/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body{
    font-family: 'Roboto', sans-serif;
    background-color: #033a22;
    color: #edf2f4;

}
  
.section-2 a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    left: 180px;
   
}
.section-2 a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.section-2 a span{
    position: absolute;
    display: block;
}
.section-2 a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.section-2 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.section-2 a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.section-2 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

h2,.white{
    color: #ff686b;
}

a{
    color: #7A7C80;
    text-decoration: none;
}

/* section 1 */
.section-1{
    padding-top: 5vh;
    text-align: center;

}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 25px;
    padding: 10px;

}
/* section 2 */
.section-2{
    padding-top: 5vh;
    padding: 25px;
    text-align: center;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}
ul{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-2 p:hover{
    font-size: 1.2rem;
    cursor: pointer;
    transition: 1.0s;
}

.section-2 li:hover{
    font-size: 1.2rem;
    cursor: pointer;
    transition: 1.0s;
}

.section-2 .startBtn:hover{
    font-size: 2.0rem;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
}

.section-1 .labeledTitle:hover{
    font-size: 2.0rem;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
}

.section-1 img:hover{
    font-size: 2.0rem;
    cursor: pointer;
    transition: 0.6s;
}
.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}


.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}